@page
@model MaturityEvaluation.Pages.EvalResultModel
@{
}

<h2>
</h2>

<!-- Layout Demo -->
<div class="col-lg-8 mb-4 order-0">
    <div class="card">
        <div class="card-body">
            <span class="text-center">
                <div class="alert alert-secondary mt-4 @Model.mLevel">
                    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
                    <strong>@Model.mTitle</strong>
                </div>
            </span>
            <p />
            <div class="info-list">
                <span class="oi oi-pencil me-2" aria-hidden="true">@Model.mDescripcion</span>

            </div>
            <hr />
        </div>
    </div>
</div>
<!--/ Layout Demo -->